.create_task_button {
    width: 300px;
    height: 50px;
}

.one_comment_view {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

textarea {
    width: 100%;
}

.invisible_block {
    display: none;
}